.stxl-atm-strike {
  background-color: black;
}

.stxl-itm-strike {
  background-color: #bdc0a024;
}
.stxl-disabled-strike {
  cursor: wait;
  background: #c3c3c39a;
}
.MuiTableRow-root:hover .stxl-txn-btn {
  visibility: visible;
}

.MuiTableRow-root:hover .stxl-oi-number {
  visibility: visible;
}