.atm-strike {
  background-color: black;
}

.itm-strike {
  background-color: #bdc0a024;
}
.disabled-strike {
  cursor: wait;
}
.MuiTableRow-root:hover .stxl-txn-btn {
  visibility: visible;
}

.MuiTableRow-root:hover .stxl-oi-number {
  visibility: visible;
}