.navigate {
  background-color: aqua;
  color: black;
  font-weight: bold;
  padding: 2px;
  margin-right: 10px;
  display: inline-block;
}

.command-name {
  display: inline-block;
  font-weight: bold;
}